<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Intrest Calculator</title>
</head>
<body>
    <center>
        <h1 style="color:Blue;">Simple Intrest Caculator</h1>
        <form method="POST">
            <input type="number" step="any" name="p" id=""placeholder="principle">
            <input type="number" step="any" name="t" id=""placeholder="Time">
            <input type="number" step="any" name="r" id=""placeholder="Rate">
            <button type="submit">Calculator Intrest</button>
        </form>
    </center>
    {#Display output #}
    {% if result %}
        <hr>
        <h3>Result,</h3>
        <span>Principle:{{p}}</span><br>
        <span>Rate:{{r}}</span><br>
        <span>Time:{{t}}</span><br>
        <span>
            <b>Simple Intrest-{{result}}</b><br>
            <b>Total Amount-{{total}}</b>
        </span>
    {% endif %}
</body>
</html>
